.DS_Store
*.swp
*.swo
.env
.env.*
node_modules/
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
__pycache__/
*.pyc
.pytest_cache/
.venv/
*.egg-info/
dist/
build/
secret.auto.tfvars
devops-hetic-slides-students-main/
